body{
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
font-size: 14px;
background-color: rgb(189, 252, 0); 
}
header{
    display:flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.z{
    width: 350px;
}
.son1Z{
    display: flex;
    justify-content: flex-start;
    position:fixed;
}
.son1A{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 450px;
}
.son1B{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 350px;
}
.son2B{
    display:flex;
    align-items: center; 
}
h1{
    text-align: center;
    display: block;
    font-size: 3.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2{
    text-align: center; 
    font-size: medium;
}
.small-text{
    font-size: small;
}

.product_container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    
} 
.item {
    width: 200px;
    display:flex;
    margin:0.7%;
    flex-direction: column;
    align-items: center;
} 

.borde1 {
  border: 1px solid;
  padding: 2px;
 border-color: rgb(189, 252, 0);
 box-shadow: 0px 10px 20px 0px cornflowerblue;
}